[Unit]
Description=NestJS Backend API
After=network.target

[Service]
Environment="SERVICE_USER=%u"
Environment="SERVICE_GROUP=%g"
Environment="SERVICE_HOME=%h"
Environment="ROOT_FOLDER_BACKEND_API=%h/gtrainer/"
ExecStartPre=/bin/bash -c "cd \"${ROOT_FOLDER_BACKEND_API}\"; echo $PWD"
ExecStart=/bin/bash -c "echo $PWD"
#WorkingDirectory=$ROOT_FOLDER_BACKEND_API
Restart=always
RestartSec=20

[Install]
WantedBy=default.target